body {
    font-family: Arial, sans-serif;
    text-align: center;
}

nav {
    margin-bottom: 20px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container img {
    width: 200px;
    margin-bottom: 15px;
}

.no-decoration {
    list-style-type: none;
    padding: 0;
}
